extends ../layout

block content

    h1= todo.title

    table.table
      tbody
        tr
          td id :
          td= todo.id
        tr
          td title :
          td= todo.title
        tr
          td description :
          td= todo.description
        tr 
          td completion :
          td= todo.completion
        tr
          td created at :
          td= todo.createdAt
        tr
          td updated at :
          td= todo.updatedAt
            
    br
    form(action='/todos/' + todo.id + '?_method=DELETE', method='POST')
      button.btn.btn-default Delete
    br
    a(href='/todos/' + todo.id + '/edit') 
      button.btn.btn-default Edit
      